:root {
  --font-main: 'Poppins', sans-serif;
  --font-heading: 'Space Grotesk', sans-serif;

  --color-olive: #6a7d4a;
  --color-cream: #ededd6;
  --color-black: #000000;

  --text-color: var(--color-black);
  --background-color: var(--color-black);
}

body{
  font-family: var(--font-main);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
